@import "../../style.scss";

.login {
  height: 100vh;
  background-color: rgb(52, 47, 47);
  display: flex;
  align-items: center;
  justify-content: center;


  .card {
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background:
        url("https://images.pexels.com/photos/1624496/pexels-photo-1624496.jpeg")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }
      
      p {
      }

      span {
        padding-top: 30%;
        font-size: 14px;
      }
      
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rgb(52, 47, 47);
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
      color: #555;
      }
      
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        input {
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 20px 10px;
        }
        
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: rgba(52, 47, 47, 0.848);
          color: white;
          font-weight: bold;
          cursor: pointer;
        }

        .sp-rgt{
          display: none;
        }

        .bt-rgt {
          display: none;
        }
      }
    }
  }

  @include tablet{
    .card {
      width: 90%;
      min-height: 80%;
  
      .left {
        padding: 40px;
        gap: 30px;
        justify-content: center;
      }
    }
  }

  @include mobile {
    .card{
      width: 100%;
      border-radius: 0px;
      min-height: 100%;
      .left {
        display: none;
      }
  
      .right {
        flex: 1;
        background:
          url("https://images.pexels.com/photos/1624496/pexels-photo-1624496.jpeg")
            center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
  
        h1 {
        color: #fff;
        }
        
        form {
          display: flex;
          flex-direction: column;
          gap: 30px;
          
          input {
            border: none;
            border-bottom: none;
            padding: 10px 40px;
            border-radius: 15px;
          }
          
          button {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: rgba(52, 47, 47, 0.848);
            color: white;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
          }

          .sp-rgt{
            display: flex;
            padding-top: 20px;
            color: #fff;
            justify-content: center;
          }
  
          .bt-rgt {
            display: block;
          }
        }
      }
    }
  }
}
